ports:
  - '80:80'

directories:
  - /data/nginx/conf.d
  - /data/nginx/includes
  - /data/nginx/logs
  - /data/nginx/upstreams
  - /data/nginx/templates

files: [
  {src: 'services.conf', dest: '/data/nginx/conf.d/services.conf'},
  {src: 'app.conf', dest: '/data/nginx/includes/app.conf'},
  {src: 'nginx-upstreams.ctmpl', dest: '/data/consul-template/nginx-upstreams.ctmpl'}
]

volumes:
  - /data/nginx/conf.d:/etc/nginx/conf.d
  - /data/nginx/includes:/etc/nginx/includes
  - /data/nginx/upstreams:/etc/nginx/upstreams
