# Monitoring And Alerting
# influxdb is depened by statsd, collectd and grafana
- hosts: influxdb
  remote_user: vagrant
  become: true
  roles:
    - influxdb

- hosts: influxdb #yinc2-cluster
  remote_user: vagrant
  become: true
  roles:
    - collectd

# The influxdb backend of statsd does not support latest influxdb (1.1.1),
# replace it with statsite, which has compatible API and better performance
- hosts: statsite
  remote_user: vagrant
  become: true
  roles:
    - statsite

- hosts: grafana
  remote_user: vagrant
  become: true
  roles:
    - grafana

