# Service Registry-Discovery And Configuration Management
- hosts: service-registry-discovery-config-mgmt
  remote_user: vagrant
  become: true
  vars:
    - registrator_name: registrator-consul
    - registrator_protocol: consul
    - registrator_port: 8500
  roles:
    - consul
    - registrator
    - consul-template

