# Common Dependency
- hosts: yinc2-cluster
  remote_user: vagrant
  become: true
  roles:
    - common
    - docker

# Service Registry-Discovery And Configuration Management
- hosts: service-registry-discovery-config-mgmt
  remote_user: vagrant
  become: true
  vars:
    - registrator_name: registrator-consul
    - registrator_protocol: consul
    - registrator_port: 8500
  roles:
    - consul
    - registrator
    - consul-template

# Applications
- hosts: app-fibonacci
  remote_user: vagrant
  become: true
  roles:
    - fibonacci

- hosts: app-store
  remote_user: vagrant
  become: true
  roles:
    - store

# Reverse Proxy and Load Balancing
- hosts: reverse-proxy-lb
  remote_user: vagrant
  become: true
  roles:
    - nginx

# Monitoring And Alerting
# influxdb is depened by statsd, collectd and grafana
- hosts: influxdb
  remote_user: vagrant
  become: true
  roles:
    - common
    - docker
    - influxdb

# FIXME
- hosts: collectd
  remote_user: vagrant
  become: true
  roles:
    - common
    - docker
    - collectd

- hosts: statsd
  remote_user: vagrant
  become: true
  roles:
    - common
    - docker
    - statsd

- hosts: grafana
  remote_user: vagrant
  become: true
  roles:
    - common
    - docker
    - grafana

